/*
** General Styles for HTML tags
*/
html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

::selection {
  color: $lightColor;
  background-color: $colorMain;
}

::-moz-selection {
  color: $lightColor;
  background-color: $colorMain;
}
.table-bordered{
  margin-bottom: 0;
}

.container-fluid{
  padding-right:50px;
  padding-left: 50px;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: $lightColor;
  overflow: visible;
  overflow-x: hidden;
  //for scrollbar always seen
  overflow-y: scroll;
  //for scrollspy
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //text-transform: uppercase;
  font-weight: 600;
  line-height: 1.16;
  word-break: break-word;
  margin-top: 0.65em;
  margin-bottom:0.4em;
  font-family: 'Nunito', sans-serif;
  text-transform: capitalize;
  //fix for Raleway numbers
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
}
h1 {
  margin-top:1.17em;
  font-size: 54px;
  letter-spacing:0;
}
h2 {
  font-size: 48px;
  margin-top: 0.9em;
  margin-bottom: 0.5em;
  letter-spacing: 0;
}
h3 {
  font-size: 42px;
  margin-top: 1.1em;
  margin-bottom: 0.55em;
  letter-spacing: 0;
  line-height: 1.23;
}
h4 {
  font-size: 36px;
  margin-top: 1.37em;
  margin-bottom: 0.7em;
  letter-spacing: 0;
}

h5 {
  font-size: 30px;
  margin-top: 1.65em;
  margin-bottom: 0.9em;
  letter-spacing: 0;
}

h6 {
  font-size: 24px;
  margin-top: 2.1em;
  margin-bottom:0.85em;
  letter-spacing: 0;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.5rem
  }
  h2 {
    font-size: 2rem
  }
  h3 {
    font-size: 1.9rem
  }
  h4 {
    font-size: 1.3rem
  }
  h5 {
    font-size: 1.2rem
  }
  h6 {
    font-size: 1.1rem
  }

}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

p {
  margin-bottom: 1em;
}

ul:last-child,
ol:last-child,
p:last-child {
  margin-bottom: 0;
}

p:last-child {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

img, figure {
  max-width: 100%;
  height: auto;
}

figcaption {
  p {
    margin-bottom: 0;
  }
  font-size: 0.95em;
  line-height: 1.4;
  padding: 10px 0 7px;
}

b, strong {
  font-weight: 700;
  color: $darkColor;
}

label {
  color: $darkColor;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
  color: $colorMain;
  &:hover {
    color: $darkColor;
    text-decoration: none;
    transition: all 0.15s linear 0s;
  }
}
blockquote.wp-block-quote, blockquote {
  display: block;
  margin: 0;
  p{
    position: relative;
    text-indent: 52px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    color: $darkColor;
    font-size: 20px;
    &:before{
      font-family: 'FontAwesome' !important;
      content: "\f10d";
      font-size: 38px;
      height: 38px;
      line-height: 38px;
      font-style: normal;
      left: -42px;
      position: absolute;
      top: -9px;
      background: linear-gradient(45deg, $colorMain2 10%, $colorMain2 30%, $colorMain);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: $colorMain;
    }
  }
}
blockquote.has-image {
  padding:0;
  font-style: normal;
  margin: 48px 0 47px 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  img{
    border-radius: 50%;
    margin-right:0;
    margin-bottom: 25px;
  }
  p{
    position: relative;
    margin-bottom:0;
    text-indent:0;
    text-align: center;
    width: 90%;
    &:before{
      display: none;
    }
    .name{
      font-weight: 700;
      color: $darkColor;
      font-size: 18px;
      display: block;
      text-indent:0;
      margin-bottom: 0;
      margin-top: 0;
      padding-top: 20px;
      position: relative;
      font-style: normal;
      font-family: 'Nunito', sans-serif;
    }
    .profession{
      font-weight:700;
      font-size: 18px;
      text-transform: capitalize;
      color: $colorMain;
      display: block;
      font-style: normal;
      font-family: 'Nunito', sans-serif;
      text-indent:0;
    }

  }
  .media {
    margin: 15px 0;
  }
  h3, h4, .text-small {
    font-style: normal;
  }


  .item-meta{
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 0;
    span + span{
      margin-left: 27px;
      padding-left: 28px;
      position: relative;
      &:before{
        content: '|';
        position: absolute;
        left: 0;
        top:-1px;
      }
    }
  }

}

[class*='col-md-12'], [class*='col-sm-12'] {
  blockquote.has-image p {
    width: 70%;
  }
}


@media (max-width: 1199px) {
  blockquote {
    margin: 18px 0 16px 0;
  }
  .single.single-post blockquote {
    width: 100%;
  }
}

@media (max-width: 767px) {
  blockquote {
    margin: 18px 0 16px 0;
  }
}


@media (max-width: 479px) {
  blockquote {
    margin: 32px 0 38px 30px;
    padding: 1.2em 0 0.3em 2em;
    width: 80%;
  }
  .post .entry-content blockquote {
    width: 100% !important;
  }
  blockquote{
    display: block;
    padding-left: 0;
    margin-left: 0;
  }
  .post .entry-content blockquote {
    width:100% !important;
  }
  blockquote img{
    margin-bottom: 20px;
  }
  blockquote p .name:after {
    letter-spacing: 2.2px;
  }
  blockquote.has-image img {
    margin-right: 15px;
  }
  blockquote.wp-block-quote p:before, blockquote p:before {
    left: -120px;
  }
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
  }

}




input:focus,
button:focus,
select:focus,
textarea:focus,
a:focus {
  outline: medium none;
  text-decoration: none;
}

a > img {
  transition: all 0.15s ease-in-out 0s;
}

a:hover > img {
  opacity: 0.8;
}


a.btn:active,
a.button:active,
button:active,
input[type="submit"]:active {
  position: relative;
  top: 1px !important;
}

hr {
  border-color: $borderColor;
  //for flexbox
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

iframe {
  border: none;
  max-width: 100%;
}

table {
  width: 100%;
  max-width: 100%;
  margin: 10px 0;
  tr{
    border-bottom: 1px solid $borderColor;
  }
  td, th {
    padding: 13px 8px;
    line-height: 1.42857143;
    vertical-align: top;
  }
  th {
    color: $darkColor;
    font-weight: normal;
    vertical-align: middle;
  }
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

pre {
  line-height: 1.5;
  background-color: $universalBackgroundColor;
  padding: 0.5em 1em;
}
//block with signature on main page
.big {
  margin: 0.85em 0 1.3em;
  font-size: 20px;
  line-height: 1.8em;
  em {
    display: inline-block;
    margin: 0.3em 0 0;
    @media (min-width:768px) {
      margin: 1em 0 0.5em;

    }
  }
}
.text-underlinen{ text-decoration: underline;font-weight: 400;}
.media {
  h3 {
    text-transform: uppercase;
  }
  .dropcap {
    margin-right: 0;
  }
}

.small-text {
  @include small-text();
  &.extra-letter-spacing {
    @media (min-width: 768px) {
      letter-spacing: 1em;
    }
  }
}









