/*
** Bootstrap Overrides
*/
@import 'override_bootstrap/breadcrumbs';
@import 'override_bootstrap/forms';
@import 'override_bootstrap/carousel';
@import 'override_bootstrap/tabs';
@import 'override_bootstrap/collapse';
@import 'override_bootstrap/dropdowns';

//making container 1170px width for wide screens
@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}

//other bootstrap elements
/* modal */
.modal-open {
  padding-right: 0 !important;
}

.modal-backdrop.show {
  background-color: #4d4d4d;
  opacity: 0.9;
}

.modal-content {
  border-radius: 1px;
  [class*="col-"]:last-child {
    margin-bottom: 0;
  }
}

/* bootstrap buttons */
.btn {
  font-size: 18px;
  font-weight:400;
  line-height: 20px;
  letter-spacing: 0;
  padding:20px 55px;
  margin-bottom:0;
  border-width: 3px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;

  //for icons
  &.round,
  &.rounded {
    padding: 23px;
    line-height: 1;
  }
}
.btn.large {
  padding:10px 40px;
}
.btn.small{
  padding:6px 17px;
}

  /* media elements */
.media > img {
  display: block;
}

.media-body {
  h3, h4 {
    line-height: 1;
    margin-top: 0.3em;
    margin-bottom: 0.2em;
  }

  * + &,
  & + * {
    margin-left:18px;
  }
}

@media (max-width: 991px) {
  * + .media-body, .media-body + * {
    margin-left: 10px;
  }
}

@media (max-width: 479px) {
  button.btn + span.m-25{
    margin: 10px;
  }
}



//for media component inside table - for dashboard
td .media-body {
  width: auto;
}

// our custom video placeholser
.embed-responsive-3by2 {
  //height property removed in v4
  height: 0;
  padding-bottom:56%;
  background-color: $backgroundColorFooter;
}
.embed-responsive-3by2 a > img {
  opacity: 0.8;
}
.embed-responsive-3by2 a:hover > img {
  opacity:0.8;
}


#video, .format-video {
  .photoswipe-link, .embed-placeholder {
    &:after {
      transition: all 0.3s ease-in-out;
      content: "\f04b";
      font-family: 'FontAwesome';
      position: absolute;
      color: $lightColor;
      font-size: 18px;
      line-height:40px;
      width:57px;
      height:40px;
      text-align: center;
      background-color:$colorvideo;
      border-radius: 10px;
      left: 50%;
      top: 50%;
      margin-left: -30px;
      margin-top: -30px;
    }
    &:hover:after {
      opacity: 0.4;
    }
  }
}

@media (max-width: 479px) {
  #video .photoswipe-link:after, #video .embed-placeholder:after,
  .format-video .photoswipe-link:after, .format-video .embed-placeholder:after {
    font-size: 40px;
  }
}

.alert{
  border-width: 0 0 0 4px;
  padding:18px 30px;
  margin-bottom:20px;
  border: none;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  color: $lightColor;
  &:before {
    font-family: FontAwesome;
    font-size: 14px;
    margin-right: 10px;
  }
}

.alert-success {
  background-color:$colorMain3;
  &:before {
    content: "\f058";
  }
}

.alert-info {
  background-color:$colorMain4;
  &:before {
    content: "\f06a";
  }
}

.alert-warning {
  background-color: $colorSuccess;
  color: $darkColor;
  &:before {
    content:"\f071";
    color: $darkColor;
  }
}

.alert-danger {
  background-color:$colorMain;
  &:before {
    content:"\f057";
  }
}
.mark, mark {
  background-color: transparent;
}

button.close {
  min-width: 0;
}

/* small in headings */
.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  color: inherit;
  font-weight: 300;
}

/* labels */
.label-success {
  color: $lightColor;
  background-color: $colorSuccess;
}

.label-info {
  color: $lightColor;
  background-color: $colorInfo;
}

.label-warning {
  color: $lightColor;
  background-color: $colorWarning;
}

.label-danger {
  color: $lightColor;
  background-color: $colorDanger;
}

/*
progressbar*/
.progress-bar-title{
  margin-bottom:7px;
  color: $darkColor;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.progress {
  height:4px;
  margin-bottom:19px;
  position: relative;
  box-shadow: none;
  overflow: unset;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color:$borderColor;
  & + & {
    margin-top: 10px;
  }
  [data-transitiongoal] {
    width: 0;
  }
  .progress-bar {
    transition: width 0.5s ease 0.2s;
    height:4px;
    position: relative;
    top: 0;
  }
  span {
    position: absolute;
    right: 0;
    top: -31px;
    font-size: 14px;
    font-weight:700;
    color: $darkColor;
  }
}
