//color schemes
//3
$styleNumber: '3';
$colorMain: #7238a0;
$colorMain2: #42b7e2;
$colorMain3: #ae419a;
$colorMain4: #8d66b4;


//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;