/*
** Light Background Section - .ls
*/
.ls {
  background-color: $lightColor;
  color: $fontColor;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $darkColor;
    a {
      color: inherit;
      &:hover {
        //color: $colorMain;
        opacity: 0.8;
      }
    }
  }

  //buttons
  .btn-maincolor:hover,
  .btn-maincolor2:hover,
  .btn-maincolor3:hover,
  .btn-darkgrey:hover,
  .btn-outline-maincolor:hover,
  .btn-outline-maincolor2:hover,
  .btn-outline-maincolor3:hover,
  .btn-outline-darkgrey:hover {
    color: $lightColor;
  }
  .btn-outline-maincolor:hover{
    background-color: $colorMain;
  }

  .btn-maincolor:hover {
    border-color:$colorMain;
    background-color: transparent;
    color:$colorMain;
  }
  .btn-outline-maincolor2:hover,
  .btn-maincolor2:hover {
    background-color: darken($colorMain2, 10%);
    border-color:darken($colorMain2, 10%);
  }
  .btn-outline-maincolor3:hover,
  .btn-maincolor3:hover {
    background-color: darken($colorMain3, 10%);
    border-color: darken($colorMain3, 10%);
  }
  .btn-outline-darkgrey:hover,
  .btn-darkgrey:hover {
    background-color: $colorMain;
    border-color: $colorMain;
  }
  .links-maincolor a:hover {
    opacity: 0.7;
  }

  h1.grey-color, h2.grey-color, h3.grey-color, h4.grey-color, h5.grey-color, h6.grey-color{
    color: $fontColor;
  }
  .page_title h1, .page_title h2{
    color: $darkColor;
  }
  .breadcrumb > li.active:before{
    color: $darkColor;
  }


}

/*
** Grey Background Section - light section, muted section - .ls.ms
*/
.ls.ms {
  background-color: $greyColor;
  color: darken($fontColor, 7%);

  .links-grey a {
    color: darken($fontColor, 7%);
  }

  .hero-bg {
    background-color: $lightColor;
    hr {
      background-color: $borderColor;
    }
  }

  hr {
    background-color: $lightColor;
  }

  //forms
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="number"],
  textarea,
  select,
  .form-control {
    background-color: $darkgreyColor;
    border-color: $darkgreyColor;
  }

  // .ls:not(.ms),
  .hero-bg {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"],
    textarea,
    select,
    .form-control {
      border-color: $borderColor;
      background-color: $greyColor;
    }
  }
  td,
  th,
  .bordered {
    border-color: darken($borderColor, 5%);
  }

  .btn-secondary {
    border-color: $lightColor;
    &:hover {
      border-color: darken($greyColor, 6%);
      background-color: darken($greyColor, 6%);
    }
  }

}
.ls.page_title h1, .ls.page_title h2{
  color: $darkColor;
}