/* bootstrap breadcrumbs*/
.breadcrumb {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  text-transform: capitalize;
  color: inherit;
  font-weight: 300;
  font-size: 24px;
  letter-spacing:0;
  justify-content: center;
  & > li {
    display: inline-block;
    padding: 0;
    float: none;
  }


  @media (min-width: 992px) {
    .text-lg-right & {
      justify-content: flex-end;
    }
  }
}

.breadcrumb > li.active {
  color: $lightColor;
  &:before{
    color: $lightColor;
  }
}
.breadcrumb-item+.breadcrumb-item {
  padding-left: 6px;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: inherit;
  padding: 0;
  margin-left: 26px;
  margin-right: 25px;
}
@media (max-width: 767px) {
  .breadcrumb-item + .breadcrumb-item::before {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 479px) {
  .breadcrumb-item + .breadcrumb-item::before {
    color: inherit;
    padding: 0 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

}